header {
  @include mobile {
    display: none;
  }
  padding-top: 10px;
  position: absolute;
  width: 100%;
}
.header {
  display: flex;
  justify-content: end;
}
.header-link {
  position: relative;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  border: 1px solid rgb(223, 217, 217);
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  min-width: 90px;
  color: var(--hero-background-color);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: rgb(212, 224, 224);
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
