aside {
  position: relative;
  width: 100%;
  padding: 20px 35px;
  background-color: var(--accent-background-color);
  @include tablet {
    padding-left: 5px;
    padding-top: 330px;
    width: 250px;
  }
  @include desctop {
    padding-left: 25px;
    padding-top: 460px;
    width: 350px;
  }
}
.sidebar-wrapper {
  display: flex;
}

img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
}
.contacts {
  margin-top: 10px;
  list-style: none;
  @include mobile {
    display: flex;
  }
}
.contacts-wrapper {
  margin-top: 10px;
}
.contacts-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 1px solid var(--title-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    background-color: var(--title-text-color);
  }
}
.item__icons {
  fill: var(--title-text-color);
  .contacts-link:hover &,
  .contacts-link:focus & {
    fill: white;
  }
}
.desk-link {
  @include mobile {
    display: none;
  }
  margin-left: 10px;
  font-size: 16px;
  color: var(--title-text-color);
  &:hover,
  &:focus {
    color: #57051d;
  }
}
.contacts-item {
  @include mobile {
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
  }
  @include tablet {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.wrapper {
  margin-top: 40px;
}
.project-button {
  @include tablet {
    display: none;
  }
}
.sidebar-title {
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 1.5;
  color: var(--title-text-color);
}
.sidebar-skills__item {
  font-size: 20px;
  color: black;
  line-height: 1.5;
  margin-left: 30px;
  list-style: circle;
}
.languages .sidebar-skills__item {
  margin-top: 15px;
}
.nav-link {
  padding: 10px 20px;
  border: 1px solid var(--title-text-color);
  &:hover,
  &:focus {
    box-shadow: inset 11px 11px 46px -14px rgba(71, 65, 71, 1);
  }
}
.level {
  display: block;
  font-size: 15px;
  line-height: 0.7;
  color: #57051d;
}
